<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>

    <div class="app">
      <%- include('./partials/topbar', { files, selectedFile }) %>
        <%- include('./partials/tabs') %>

          <div class="content">
            <%- include('./partials/dashboard') %>
              <%- include('./partials/charts-panel') %>
                <%- include('./partials/logs-panel') %>
          </div>

          <%- include('./partials/statusbar') %>
    </div>

    <%- include('./partials/modal') %>

      <div class="toast" id="toast"></div>

      <script src="/public/js/app.js"></script>
  </body>

</html>
